[package]
name = "bagel"
version = "0.1.0"
description = "Simple payroll, private paydays, and a little extra cream cheese"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "bagel"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
default = []

[dependencies]
anchor-lang = "0.29.0"
anchor-spl = "0.29.0"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1
